<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css"
            integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
        <title>VerMais App</title>
    </head>

    <body>
        <div class="container-fluid p-3">
            <a href="#">
                <h1>Ver mais</h1>
            </a>
        </div>

        <div class="row m-0">
            <div class="container-fluid col-md-4">
                <h3>Entre com os suas opções:</h3>

                <form action="{{ url_for('index') }}" method="post">
                    <table class="table table-hover">
                        <tr class="table-active">
                            <th scope="row">Nome</th>
                            <th scope="row">Tempo (em horas)</th>
                            <th scope="row">Nota</th>
                        </tr>

                        {% for name, time, rate in inputs %}
                        <tr>
                            <td><input class="form-control" type="text" name="name[]" value="{{ name }}"></td>
                            <td><input class="form-control" type="text" name="time[]" value="{{ time }}"></td>
                            <td><input class="form-control" type="text" name="rate[]" value="{{ rate }}"></td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td><input class="form-control" type="text" name="name[]"></td>
                            <td><input class="form-control" type="text" name="time[]"></td>
                            <td><input class="form-control" type="text" name="rate[]"></td>
                        </tr>
                    </table>
                    <h3>Tempo disponivel:</h3>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="capacity" name="capacity" value="{{ capacity }}">
                        <span class="input-group-text bg-primary border-0 fw-bold text-white">horas</span>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                </form>
            </div>

            <div class="container-fluid col-md-4">
                <h3>Opções selecionadas:</h3>

                {% if result %}
                <table class="table table-hover">
                    <tr class="table-active">
                        <th scope="row">Nome</th>
                        <th scope="row">Tempo (em horas)</th>
                        <th scope="row">Nota</th>
                    </tr>
                    {% for item in result %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.weight }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Nenhum item selecionado.</p>
                {% endif %}
            </div>
        </div>
    </body>

</html>